@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: url(img25.jpg);
    background-repeat: no-repeat;
    background-size: 115%;
    height: 100vh;
    width: 100%;
    background-position: center;
}

.card-main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.heading {
margin-top: 50px;
margin-bottom: 0%;
}
.heading h1 {
    text-align: center;
    align-items: center;
    font-size: 500%;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 

}

.card-main {
    height: 250px;
    width: 25rem;
    border-radius: 1rem;
    position: relative;
    transform-style: preserve-3d;
    justify-content: center;
    transition: all 0.6s ease;
    align-items: center;
    margin: 0.3%;
}

.card-main:hover {
    transform: rotateY(180deg);
}

.front-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    backface-visibility: hidden;
    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgb(166, 0, 212));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

}

.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgb(239, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.front-card p {
    margin-top: 1rem;
    font-size: .9rem;
    color: #ffffff;
    text-decoration: solid;
}

h2 {
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
}

.btn {
    margin-top: 1rem;

}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.back-light {
    color: #fff;
}

#frontwiss {
    background-image: url(img15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#frontalma {
    background-image: url(img14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#fronte {
   background-image: url(img16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#backalma {
    background-image:linear-gradient(to right, blue , green);
    background-repeat: no-repeat;
    background-size: 100%;
}

#backwiss {
    background-image:linear-gradient( to right ,red ,yellow) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

#backe {
    background-image: linear-gradient(to right,purple,black) ;
    background-repeat: no-repeat;
    background-size: 100%;
}
@media only screen and (max-width: 768px) {
  body {
    height: 155vh;
    width: 100%;
        background-image: url(img25.jpg);
        background-position: center;
        background-size: cover;
  }
    
    .card-main-container{
        width: 100%;
    }
    .card-main {
        width: 380px;
        height: 400px;
        margin: 3px;
    }
    .heading h1 {
        font-size: 60px;
    }
    
}
